@import "./core/variables";
@import "./core/mixins";

// Estilos de Design radio Palettes into Card Design.

.infoStyle1 {
  border-left: 5px solid $palete1Color2;
  color: $palete1Color1;
}

.infoStyle2 {
  border-left: 5px solid $palete2Color2;
  color: $palete2Color1;
}
.infoStyle3 {
  border-left: 5px solid $palete3Color2;
  color: $palete3Color1;
}
.infoStyle4 {
  border-left: 5px solid $palete4Color2;
  color: $palete4Color1;
}

.buttonStyle1 {
  .icon {
    color: $palete1Color1;
  }
  li {
    border: 2px solid $palete1Color3;
  }
}
.buttonStyle2 {
  .icon {
    color: $palete2Color3;
  }
  li {
    border: 2px solid $palete2Color2;
  }
}
.buttonStyle3 {
  border: $palete3Color3;
  .icon {
    color: $palete3Color3;
  }
  li {
    border: 2px solid $palete3Color2;
  }
}
.buttonStyle4 {
  .icon {
    color: $palete4Color3;
  }
  li {
    border: 2px solid $palete4Color2;
  }
}
